.voice-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/025_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px 0;
}

.voice-section-title {
  font-size: 74.2px;
  font-weight: bold;
  color: #eeb92d;
  font-family: "筑紫明朝", serif;
}

.voice-container {
  display: flex;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f4f4f5;
  padding-top: 32px;
  padding-bottom: 32px;
}

.voice-text-area p {
  font-size: 24px;
  font-family: "筑紫明朝", serif;
}

.voice-text-area p .force {
  color: #b82125;
}

.voice-video {
  position: relative;
  display: inline-block;
  aspect-ratio: 16 / 9;
  background-image: url('../images/025_frame.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 32px;
}

.voice-video iframe {
  margin: 60px;
  background-image: none;
}

.voice-title {
  position: absolute; /* 親要素を基準に配置 */
  left: 50%; /* 左右中央揃え */
  margin: 0;
  transform: translateX(-50%); /* 自身の幅を考慮して中央揃え */
  font-size: 32px;
  font-weight: bold;
  font-family: "筑紫明朝", serif;
  text-align: center;
  color: #ac851b;
}

.voice-video iframe {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 768px) {
  .voice-section-title {
    font-size: 48px;
  }

  .voice-container {
    padding-bottom: 16px;
  }

  .voice-text-area p {
    max-width: 320px;
    font-size: 16px;
  }

  .voice-video {
    max-width: 320px;
    background-image: none;
  }

  .voice-title {
    position: inherit;
    font-size: 22px;
  }

  .voice-video iframe {
    width: 320px;
    height: 180px;
    margin: 0;
  }
}
