

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.header img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.content01 {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content01 img {
  width: 100%;
  height: auto;
  display: block;
}

.entry-button {
  background-color: #eeefef;
}
