

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.header img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.entry-button {
  background-color: #eeefef;
}

/**
 * Full width image
 */
.full-width-image-box {
  width: 100%;
}
.full-width-image-box img {
  width: 100%;
  height: auto;
  display: block;
}
